*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.hero{
    
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
}

nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
  
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color:orange;
}

.detel{
    margin-left: 8%;
    padding-top: 11.8%;
    width: 50%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color :orange;
    
}

.detel p{
    color: #555;
    line-height: 22px;
   
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 2px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scale(1.1); /* Enlarges the image by 10% */
    transition: bottom 1s, left 1s, transform 1s; /* Adds smooth transition for scaling */
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .hussien {
    left: 75%;
}

#lang {
    padding-top: 5%;
}


@media only screen and (max-width: 768px) {
    .images {
        display:none;
    }
    
    .detel{
        margin-left: 5%;
        padding-top: 11.8%;
        width: 90%;
    }
    .detel h1{
        font-size: 30px;
        color: #212121;
        margin-bottom: 20px;
    }
    nav{
        display: flex;
        width: 90%;
        margin: auto;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;
      
    }
  }
  @media (min-width: 820px) and (max-width: 1024px) {
    .images {
      width:20%;
    }
  


  }

  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #d9dfe7;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: 0.7rem;
    background-color: black;
  }
   
